* {
	font-family: "微软雅黑", "宋体", Arial, "times New Roman", sans-serif;
	margin: 0;
	padding: 0
}
li {
	list-style: none;
}
.container {
	width: 600px;
	height: 800px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	margin-top: -100px;
	transform: rotate(-90deg); 
}
#slider {
/*	width: 800px;
	height: 600px;*/
/*	overflow: hidden;*/
	position: absolute;
	left: 0;
	transition: top 1s;
}
.block {
	width: 600px;
	height: 800px;
	float: left;
	background-color: #2384de;
}
#list {
	list-style: none;
	position: absolute;
	top: 550px;
	left: 850px;
}
#list li {
	float: left;
	margin-left: 2px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	cursor: pointer;
	background-color: #fff;
}
.weather_container {
	width: 800px;
	height: 600px;
	position: relative;
	margin-left: -100px;
	margin-top: 100px;
/*	left: -100px;
	top: 100px;*/
	transform: rotate(90deg);
}
.city_container {
	height: 35px;
	background-color: #1a5587;
}
.city_word {
	text-align: center;
	color: #fff;
	font-size: 20px;
	line-height: 35px;
}
.date_container,
.state_container,
.temp_container {
	text-align: center;
	color: #fff;
	font-size: 18px;
	margin-top: 20px;
}
.weather_pic {

	width: 680px;
	height: 300px;
	background: url('../picture/light rain.png');
	margin:0 auto;
	margin-top: 10px;
	background-repeat: no-repeat;
}